body{
    margin: 0px;
    padding: 0px;
    background-color:#f8f9fa;

}

#NavbarDNA{
    background-color: #ffde2f;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 25px;
    height: 64px;
    box-shadow: 0 2px 8px 1px rgb(0 0 0 / 20%);
    border-bottom: 1px solid #d3d4de

}
#DNA{
    height: 40px;
    vertical-align: middle;
    border-style: none;
    margin-left: 1px;
}
a{
    text-decoration: none;
    background-color: transparent
}
#searchIcon{
    display: flex;
    margin-right: 1px;
}
#hindi{
    display: inline-block;
    border: 1px solid #000;
    padding: 5px 14px;
    border-radius: 50px;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    margin-left: 50px;
    margin-left: 25px;
    position: relative;
    top: 1px;
}
#slide{
    font-family: 'Roboto Slab',sans-serif;
    display: flex;
    margin: 50px 0px;
    margin-left: 40px;
    background-color: rgb(53, 52, 52);
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 100px;
}
#Part1{
    width: 13%;
    color: #313131;
    height: 50px;
    position: relative;
    display: flex;
    background-color: #aaa;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#Part2{
    width: 100%;
    color: #212529;
    position: relative;
    padding-left: 10px;
    text-align: left;
    color: aliceblue; 
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}

#websiteDetails{
    width: 97%;
    display: flex;
    margin: auto;
}
#left_menu{
    flex-wrap: wrap;
    width: 25%;
    cursor: pointer;
    margin-left: 20px;
}
#landingPageNews{
    width: 50%;
}
#landingPageNews{
    width: 50%;
    height: auto;
}
#rightSide{
    margin-left: 30px;
    width: 22%;
}
#menu-item{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    width: 75%;
}
#menuList{
    color:#313131; 
    padding-left: 12px; 
    font-size: 17.5px;
}

#menu-item:hover{
    background-color:#ffde2f;
}

#footer{
    margin-top: 25px;
    background: #1c1c1c;
    padding: 20px 0;
    font-family: 'Roboto Slab',sans-serif;
}
.footer-content {
    margin-top: 25px;
    background: #1c1c1c;
    padding-left: 12px;
    font-family: 'Roboto Slab',sans-serif;
}
#container{
    margin: 0 20px;
}
.footer-box {
    border-bottom: 1px solid #3b3a3a;
    margin-bottom: 10px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
} 
.nav {
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.dna-logo {
    width: 190px;
}
.nav .nav-item {
    font-size: 14px;
    line-height: 20px;
    margin-left: 0;
}
a.nav-link {
    color: #8e8e8e;
    font-size: 14px;
}
.middile-footer-box {
    margin-left: 0;
    border-bottom: 1px solid #3b3a3a;
    margin-bottom: 10px;
}
.middle-footer-txt {
    display: contents;
    padding-top: 20px;
}
.left-text {
    width: 220px;
}
.middle-nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-right: 15px;
    gap: 15px;
    color: hsl(0, 5%, 4%);
}
.left-text p {
    font-size: 17px;
    color: #8e8e8e;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.footer-box {
    border-bottom: 1px solid #3b3a3a;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.final-footer-box {
    width: 190px;
    margin-top: 5px;
    padding-left: 0;
}
.final-footer-box p {
    font-size: 17px;
    color: #8e8e8e;
}
.footer-end p {
    font-size: 12px;
    text-align: center;
    color: #8e8e8e;
    margin-bottom: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
#headline_news{
    width: 100%;
}
#news_page{
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
#news_page2{
    color:#313131; 
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Slab',sans-serif;
    padding-bottom: 10px;
}
#headline_right_side{
    margin-top: 30px;
    display: flex;
    color: #313131;
    justify-content: space-between;
    padding: 0px 5px;
}
#right_side_underline{
    margin-top: 10px;
    display: flex;
    width: 98%;
}
#left_yellow{
    width: 65%;
    border: 1px solid rgb(230, 230, 16);
}
#right_gray{
    width: 35%;
    border: 1px solid rgb(214, 214, 212);
}
#right_speed_read_box{
    width: 100%;
    background-color: white;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
}
#right_speed_read_box > img{
    margin-top: 10px;
    width: 40%;
    height: 100px;
    padding-right: 10px;
}
#right_side_view{
    margin-top: -40px;
}


